@import "bootstrap-sprockets";
@import "bootstrap";

// .container-fluid {
//   border: 1px solid red;
// }
//
body {
  padding-top: 70px;
  background: #D8D8D8;
  // color: #08C3D2;
  //color: #FC903E;
  color: #791e9e;
}
